.button-entertainment-box {
  display: flex;
  margin: 12px 0;
  justify-content: flex-end;

  &--expand {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 25px;
  }

  &--icon {
    font-size: 15px;
  }
}

.accion-button {
  display: flex;
  justify-content: center;

  &--margin {
    margin: 0 5px;
  }

  &--icon {
    color: #fff;
    font-size: 15px;
  }
}

.table-box {
  height: 365px;
  overflow-x: auto;
  &--title{
    width: 25%;
  }
}

.pagination-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 575px) {
    justify-content: center;
  }

  &--pag {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    margin-top: 15px;
  }
}

// PAGINATION

